.mainComponent{
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 1.8rem;
}

.helpIcon{
    display: inline;
}

h3.detailHeading{
    color: #16cdfa;
    margin-bottom: 2rem;
    margin-left: 1%;
}

.mainComponentAPIKey{
    display: inline-table;
}

.mainComponentUserName{
    display: inline-table;
}

.mainComponentRepoName{
    display: inline-table;
}

.mainComponentFileName{
    display: inline-table;
}

@media screen and (max-width: 992px){
    .mainComponentUserName{
        margin-top: 2rem;
    }

    .mainComponentFileName{
        margin-top: 2rem;
    }
}

.mainComponentSubmitText{
    color: white;
}