.mainComponent{
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 1.8rem;
}

.helpIcon{
    display: inline;
}

h3.detailHeading{
    color: #16cdfa;
    margin-bottom: 1rem;
}

.mainComponentAPIKey{
    display: inline-block;
}

.mainComponentUserName{
    display: inline-block;
}

.mainComponentRepoName{
    display: inline-block;
}

.mainComponentFileName{
    display: inline-block;
}

@media screen and (max-width: 992px){
    .mainComponentUserName{
        margin-top: 2rem;
    }
}
