.searchPage{
    margin-left: 35px;
}


h3.searchHeading{
    color: #2699c7;
    margin-bottom: 1.8rem;
    margin-left: 1%;
}

.spanText1{
    color: #2699c7;
}

.spanText1:hover{
    font-weight: bold;
    text-decoration: underline;
}

.searchPageLink{
    display: inline-table;
}

.searchPageWord{
    display: inline-table;
}

@media screen and (max-width: 992px){
    .searchPageWord{
        margin-top: 2rem;
    }
    
}

.searchSubmitText{
    color: white;
}
